<!DOCTYPE html>
<html>
<head>
    <title>Logout</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header text-center">
                        <h2>Logout</h2>
                    </div>
                    <div class="card-body text-center">
                        <p>You have been logged out. <a href="{% url 'account_login' %}">Login again</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
